.Web-Development{
    justify-content:space-between;
    padding: 10px;

}
.web{
    display: flex;
    overflow: scroll;
    justify-content:space-between;

}
.Web-Development h2{
    padding: 10px;
    margin: 10px;
    /* border: 1px solid rgb(5, 5, 5); */
    /* background-color: rgb(19, 14, 17); */

    color: rgb(19, 3, 3);
}
 /* ul li
    padding: 0;
    list-style-type: none;
    margin-bottom: 8px; } */
 /* .web a{
    color: rgb(65, 12, 144);
    text-decoration: none;
} */

.web a:hover{
    text-decoration: underline;
 }
 img {
    width: 10vw;
    height: 10vh;

 }
 .service-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
  
  .service-card img {
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }
  
  .service-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .service-card p {
    line-height: 1.5;
  }
  
 .service-card a {
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block; 
  }
  
  .service-card a:hover {
    background-color: #0062cc;
  }

